{# templates/lucky/number.html.twig #}
<h1>Your lucky number is {{ number }}</h1>

{{ component('Alert', {
    id: 'custom-alert-id',
    message: 'Danger Will Robinson!'
}) }}


<twig:Alert message="This is really cool!" withCloseButton />