<turbo-frame id="post-content-{{ post.id }}">
	{% if post.text %}
		<p class="card-text mb-3">{{ post.text }}</p>
	{% endif %}

	{# Post Image #}
	{% if post.imageName %}
		<div class="post-image-container">
			<img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="Post image" class="post-image">
		</div>
	{% endif %}
</turbo-frame>
