<footer class="fixed-bottom bg-white py-3">
    <div class="container">
        <div class="d-flex justify-content-end align-items-center">
            <div>
                <span class="fw-bold fs-4 gradient-text">
                    PodTasty
                </span>
            </div>
            
        </div>
    </div>
</footer>
