  <nav class="navbar navbar-expand-lg  sticky-top">
  <div class="container">
  <div class="d-flex justify-content-center align-items-center">
        <h1>
            <span class="gradient-text">
                PodTasty
            </span>
        </h1>
    </div>
    </div>
  
  </nav>